loginpage {
  .main {
    .pwd-box {
      position: relative;
      margin-top: 20px;
    }

    .pwd {
      position: absolute;
      right: 0;
    }
  }

  .item-map {
    .div-map {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 80px;
    }
  }

  .prinary {
    text-align: right;
  }

  ion-row {
    padding: 0 5px;
  }
}
